body,
html {
	font-size: 16px;
	width    : 100%;
	height   : 100%;
}

.clearfix {
	clear: both;
}

.smart-video {
	background-color: $black;
	color           : $white;
	position        : relative;

	.loader {
		font-size : 7em;
		text-align: center;
		position  : absolute;
		top       : 35%;
		left      : 50%;
	}

	video {
		width  : 100%;
		opacity: 0;
		display: block;
	}

	.loader,
	video {
		transition: opacity 0.5s ease-in-out;
	}

	&.ready {
		video {
			opacity: 1;
		}

		.loader {
			opacity: 0;
		}
	}

	.control-bar {
		padding         : 0.5em;
		background-color: $black;
		min-height      : 25px;
		position        : relative;

		.controls,
		.progress {
			float: left;
		}

		.controls {
			color: $white;
			width: 5%;
		}

		.progress {
			height   : 100%;
			width    : 95%;
			position : absolute;
			top      : 50%;
			transform: translateY(-50%);
			left     : 5%;

			.inner {
				background-color: $white;
				width           : 0;
				height          : 100%;
				top             : 50%;
				transform       : translateY(-50%);
				height          : 8px;
				position        : absolute;
			}

			.chapter {
				display         : block;
				position        : absolute;
				z-index         : 2;
				background-color: $yellow;
				height          : 100%;
				width           : 5px;

				.preview {
					display         : none;
					position        : absolute;
					top             : -300%;
					width           : 150px;
					padding         : 1em;
					background-color: rgba(0,0,0,.5);
					left            : -1325%;

					img {
						width: 100%;
					}
				}

				&.active,
				&:hover {
					.preview {
						display: block;
					}
				}
			}
		}
	}

	.chapter-menu {
		display: none;
	}

	&.fullscreen {
		.control-bar {
			position  : absolute;
			bottom    : 0;
			opacity   : 0;
			transition: opacity 0.5s ease-in-out;
			width     : 100%;

			&:hover {
				opacity: 0.75;
			}
		}

		.chapter-menu {
			display         : block;
			position        : absolute;
			height          : 100%;
			top             : 0;
			background-color: rgba(0,0,0,.5);
			padding         : 1em;
			opacity         : 0;
			transition      : opacity 0.5s ease-in-out;
			width           : 100%;
			@media(min-width: 768px) {
				width: 300px;
			}

			.chapter {
				.details,
				.preview {
					float  : left;
					width  : 50%;
					padding: 0.5em;
				}

				.preview {
					img {
						width: 100%;
					}
				}

				.details {
					color: $white;
				}
			}

			&.active,
			&:hover {
				opacity: 1;
			}
		}
	}
}

.hide {
	display: none;
}
