$controlBarHeight: 20px;

.control-bar {
    position        : absolute;
    width           : 100%;
    bottom          : 0;
    height          : $controlBarHeight;
    opacity         : 0;
    transition      : opacity 0.5s ease-in-out;
    pointer-events  : none;
    background-color: $translucent_black;
    font-size       : 0.9em;
    z-index         : 0;

    &.active {
        opacity       : 1;
        pointer-events: all;
        z-index       : 2;
    }

    .inner {
        position: relative;
        height  : 100%;
    }

    a {
        color          : $white;
        text-decoration: none;
    }

    .controls,
    .fullscreen,
    .progress,
    .timecode {
        display       : inline-block;
        padding       : 0.5em;
        height        : 100%;
        padding       : 0.2em 0.5em;
        vertical-align: top;

        .fa-volume-up {
            display: none;
            @media(min-width: $desktopBP) {
                display: inline-block;
            }
        }
    }

    .controls {
        width: 5%;
    }

    .timecode {
        width: 20%;
    }

    .progress {
        width           : 55%;
        padding         : 0;
        background-color: $translucent_white;
        @media(min-width: $desktopBP) {
            width: 70%;
        }

        .bar {
            background-color: $white;
            height          : 100%;
            position        : absolute;
        }

        .chapter,
        .video_event {
            width: 3px;
        }

        .video_event {
            position        : absolute;
            top             : 0;
            background-color: $blue;
            height          : 100%;
        }

        .chapter {
            position        : absolute;
            top             : 0;
            background-color: $yellow;
            height          : 100%;

            .preview {
                width           : 100px;
                background-color: $translucent_black;
                padding         : 0.5em;
                border-radius   : 10px;
                position        : absolute;
                top             : -70px;
                left            : -50px;
                opacity         : 0;

                img {
                    width: 100%;
                }
            }

            &:hover {
                .preview {
                    opacity: 1;
                }
            }
        }
    }
}
